@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    font-family: "Syne", sans-serif;
}

img {
    width: 35%;
    border-radius: 12px;
}

h2 {
    font-size: 2rem;
}

.mainContent {
    display: flex;
    text-align: center;
    margin: 8%;
}

p{
    font-size: 19px;
    line-height: 30px;
    color: #454545;
}

@media only screen and (max-width: 960px) {
    img {
        width: 70%;
    }

    .mainContent {
        display: flex;
        text-align: center;
        margin: 8%;
    }
}